body{
    background: #bfc4c4;
    display : flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 40%;
    margin: 0 auto;
    padding-bottom: 50px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #115069;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

/*button play/scores*/
* {
    margin: 0;
    padding: 0;
    font-family: consolas;
    box-sizing: border-box;
}

a.glowbutt::before {
    content: " ";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #53af57;
    border-left: 2px solid #53af57;
    transition: 0.5s;
    transition-delay: 0.5s;
}

a.glowbutt::after {
    content: " ";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #53af57;
    border-right: 2px solid #53af57;
    transition: 0.5s;
    transition-delay: 0.5s;
}

a.glowbutt:hover::before,
a.glowbutt:hover::after {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}

a.glowbutt:hover {
    background: #53af57;
    color: #000;
    box-shadow: 0 0 50px #53af57;
    transition-delay: 0.5s;
}

a.glowbutt {
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    padding: 10px 30px;
    margin: 45px 0;
    color: #53af57;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}

.text-content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {
    margin-bottom: 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color:#FFF;
}

h5 {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 200;
    letter-spacing: 2.5px;
    color:#FFF;
    overflow:hidden;
}
  
